/*  summary.css
 *  ===========
 *
 *  Contains rules for elements that appear only in the summary view (two tables).
 *
 */


#vem-summary-page .vem-main-banner {
  padding-top:   15px;
  padding-bottom:20px;
  margin-bottom: 30px;
}

#vem-summary-page .vem-main-banner h2{
  margin-bottom: 4px;
}

#vem-summary-page .vem-main-banner h3{
  font-size: 1.1em;
  margin-bottom: 4px;
}

#vem-summary-page .vem-main-banner h4{
  font-size: 1em;
  margin-bottom: 8px;
}

#vem-summary-page .vem-main-banner p{
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
}

#vem-summary-page .vem-summary-table {
	font-size:160%;
	font-weight:200;
}

#vem-summary-page .vem-summary-table {
	font-size:160%;
	font-weight:200;
}

#vem-summary-page .vem-summary_table thead {
	font-size:90%;
}

#vem-summary-page .left-table-container {
	border-right: solid 1px #DDD;
}
